{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <title>YPT Chat</title>
    </head>
    <body>
        <form method="POST" action="." name="messageForm">
            <input type="text" name="message" />
            <input type="submit" value="送信" />
        </form>
        <script type="text/javascript">
            document.messageForm.message.focus();
        </script>
        {{range $m := .Messages}}<p>{{$m}}</p>{{end}}
    </body>
</html>
{{end}}
